* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

::selection {
  color: white;
  background-color: lightcoral;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: lightcoral;
}

.news {
  background-image: linear-gradient(45deg, #ffd0d2 0%, #fad0c4 99%, #fad0c4 100%);
  padding-top: 15px;
  padding-bottom: 1px;
  line-height: 1.2rem;
}
.news p {
  font-size: 18px;
  font-weight: 500;
  padding: 0 !important;
}
.news .row .col-md p a {
  color: #4b4949;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  transition: 0.4s;
}
@media only screen and (max-width: 576px) {
  .news .row .col-md p a {
    font-size: 9px !important;
  }
}
.news .row .col-md p a i {
  transition: 0.4s;
}
.news .row .col-md p a:hover {
  color: black;
}
.news .row .col-md p a:hover i {
  color: #4b4949;
  font-weight: bold;
}
.news .row .col-md:nth-child(2) {
  text-align: right;
}

.navbar {
  background-color: white !important;
}
.navbar .navbar-brand img {
  width: 80px;
  height: 50px;
}
.navbar .navbar-collapse .navbar-nav .nav-item {
  padding: 0 10px;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-weight: 500;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: lightcoral;
}
.navbar .navbar-collapse .navbar-nav .dropdown:hover .dropdown-menu {
  display: block !important;
}
.navbar .navbar-collapse .navbar-nav .active {
  color: lightcoral;
}

.offcanvas {
  background: whitesmoke;
}
.offcanvas .offcanvas-header {
  text-align: center !important;
}
.offcanvas .offcanvas-header a {
  text-decoration: none;
}
.offcanvas .offcanvas-header a .offcanvas-title {
  font-size: 30px;
  border-bottom: 2px solid lightcoral;
  padding: 3px 0;
  border-radius: 50%;
  font-weight: 600;
  font-family: "Times New Roman";
  color: black;
}
.offcanvas .offcanvas-header a .offcanvas-title .c_surgical {
  color: lightcoral;
}
.offcanvas .offcanvas-body ul {
  padding: 0;
}
.offcanvas .offcanvas-body ul li {
  list-style: none;
  padding: 7px 0;
  border-bottom: 2px solid lightcoral;
  border-radius: 30%;
}
.offcanvas .offcanvas-body ul li a {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.55);
  font-size: 17px;
  transition: 0.3s ease-in-out;
}
.offcanvas .offcanvas-body ul li a i {
  color: lightcoral;
  margin-right: 6px;
}
.offcanvas .offcanvas-body ul li a:hover {
  color: lightcoral;
}
.offcanvas .footer-canvas {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
.offcanvas .footer-canvas p {
  font-size: 14px;
  font-weight: 600;
}
.offcanvas .footer-canvas p a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.about-ism {
  padding: 15px 0;
}
.about-ism .text-center h1 {
  color: lightcoral;
  padding: 10px 0 5px 0;
  border-bottom: 2px solid lightcoral;
  border-radius: 80%;
  text-transform: uppercase;
}
.about-ism .row .col-md p {
  text-align: justify;
}

.feature-products {
  padding: 20px 0;
}
.feature-products .text-center h1 {
  color: lightcoral;
  padding: 10px 0 5px 0;
  border-bottom: 2px solid lightcoral;
  border-radius: 80%;
  text-transform: uppercase;
}
.feature-products .row .col-md-2 {
  margin: 10px 20px;
  transition: 0.4s;
  background-color: transparent;
  padding: 8px;
  border-radius: 8px;
}
.feature-products .row .col-md-2 p {
  text-align: center;
  font-size: 13px;
  padding: 3px 0;
  font-weight: 500;
}
.feature-products .row .col-md-2 .view-details-btn {
  text-align: center;
}
.feature-products .row .col-md-2 .view-details-btn a {
  padding: 5px 20px;
  border: 2px solid lightcoral !important;
  color: lightcoral;
  outline: none !important;
  box-shadow: none !important;
  transition: 0.4s;
}
.feature-products .row .col-md-2 .view-details-btn a:hover {
  background-color: lightcoral;
  color: white;
}
.feature-products .row .col-md-2 .product-image {
  overflow: hidden;
}
.feature-products .row .col-md-2 .product-image img {
  max-height: 150px;
  transition: 0.5s;
}
.feature-products .row .col-md-2 .product-image img:hover {
  transform: scale(1.09);
}
.feature-products .row .col-md-2:hover {
  cursor: pointer;
  margin-top: 4px;
}

.footer-p {
  background-color: #3B3B3B;
  padding: 20px 0 0 0;
}
.footer-p .row .col-md-3 {
  padding: 20px 0 0 10px;
}
@media only screen and (max-width: 768px) {
  .footer-p .row .col-md-3 {
    text-align: center;
    padding: 5px 0;
  }
}
.footer-p .row .col-md-3 h4 {
  font-weight: 500;
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 18px;
}
.footer-p .row .col-md-3 ul {
  padding: 0;
}
.footer-p .row .col-md-3 ul li {
  list-style: none;
  padding: 5px 0;
}
.footer-p .row .col-md-3 ul li a {
  color: #d0caca;
  text-decoration: none;
  font-size: 14px;
}
.footer-p .row .col-md-3 ul li a:hover {
  color: white;
}
.footer-p .row .col-md-3 ul li a i {
  color: lightcoral;
}
@media only screen and (max-width: 850px) {
  .footer-p .row .col-md-3 ul li a i {
    display: none;
  }
}
.footer-p .copyright-portion {
  padding: 10px 0;
}
.footer-p .copyright-portion a {
  text-decoration: none;
  color: whitesmoke;
}
.footer-p .copyright-portion p {
  color: whitesmoke;
  border-top: 1px solid lightcoral;
  padding: 8px 0;
  border-bottom: 1px solid lightcoral;
}

.contact-us {
  padding: 15px 0;
  user-select: none;
}
.contact-us .form-heading {
  text-align: center;
}
.contact-us .form-heading h1 {
  color: lightcoral;
  border-bottom: 2px solid lightcoral;
  border-radius: 50%;
  padding: 6px 0;
  text-transform: uppercase;
}
.contact-us .row .col-md form .form-text {
  padding: 5px 0;
}
.contact-us .row .col-md form label {
  font-size: 14px;
  font-weight: 500;
}
.contact-us .row .col-md form input:focus, .contact-us .row .col-md form select:focus, .contact-us .row .col-md form textarea:focus {
  border-color: lightcoral !important;
  box-shadow: 0 0 0 0.25rem rgba(240, 128, 128, 0.1) !important;
}
.contact-us .row .col-md form input[type=checkbox] {
  border-color: lightcoral;
}
.contact-us .row .col-md form input[type=checkbox]:checked {
  box-shadow: 0 0 0 0.25rem rgba(240, 128, 128, 0.1) !important;
  background-color: lightcoral;
  color: white;
}
.contact-us .row .col-md form .gender-section {
  padding: 10px 0;
}
.contact-us .row .col-md form .gender-section .row .col-2 {
  margin-right: 5px;
}
.contact-us .row .col-md form .gender-section .row .col-2 .btn {
  box-shadow: none !important;
  width: 80px;
}
@media only screen and (max-width: 576px) {
  .contact-us .row .col-md form .gender-section .row .col-2 {
    margin-right: 25px !important;
  }
}
.contact-us .row .col-md form .submit-btn {
  padding: 10px 0;
  margin: 5px 0;
}
.contact-us .row .col-md form .submit-btn button {
  width: 100%;
  color: white;
  background-color: lightcoral !important;
  border: 2px solid lightcoral;
  transition: 0.4s;
  box-shadow: none !important;
}
.contact-us .row .col-md form .submit-btn button:hover {
  background-color: white !important;
  color: lightcoral;
}
.contact-us .row .col-md .form-card {
  text-align: center;
  margin: 0 auto;
  border: 1px solid lightgray;
  max-width: 300px;
  border-radius: 8px;
  padding: 20px 0;
}
.contact-us .row .col-md .form-card .image-portion img {
  width: 200px;
}
.contact-us .row .col-md .form-card .details-portion a {
  background-color: white !important;
  color: lightcoral;
  border-color: lightcoral !important;
  transition: 0.4s;
  width: 100px;
}
.contact-us .row .col-md .form-card .details-portion a:hover {
  background-color: lightcoral !important;
  color: white;
  box-shadow: 0 0 0 0.25rem rgba(240, 128, 128, 0.1) !important;
}

.main-content {
  display: none;
}

.loader {
  background: url("../images/scissorLoader.gif");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999999;
}

.owl-carousel {
  margin: 10px 0;
  padding: 10px 0;
}
.owl-carousel .owl-item {
  height: 180px;
  width: 180px;
}
.owl-carousel .owl-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.3s ease-in-out;
}
.owl-carousel .owl-item img:hover {
  transform: scale(1.09);
}

.os-head {
  color: #292930;
  font-size: 60px;
  font-weight: 700;
  padding: 10px 0 30px 0;
  margin-bottom: 20px;
}

.online-shop {
  padding: 30px 0;
}
@media only screen and (max-width: 768px) {
  .online-shop {
    padding: 10px 0 0 0 !important;
  }
}
.online-shop .row {
  margin: 0 auto;
}
.online-shop .row .col-lg-3 {
  margin-bottom: 15px;
}
.online-shop .row .col-lg-3 .categories {
  background-color: lightcoral;
  color: white;
  padding: 20px 30px 20px 40px;
  border-radius: 10px;
}
.online-shop .row .col-lg-3 .categories h3 {
  padding: 20px 0;
  font-size: 30px;
  font-weight: 500;
}
.online-shop .row .col-lg-3 .categories h5 {
  padding: 5px 5px;
  font-size: 20px;
  color: #DDFFE7;
}
.online-shop .row .col-lg-3 .categories ul {
  padding-left: 0;
}
.online-shop .row .col-lg-3 .categories ul li {
  list-style: none;
  padding: 10px;
}
.online-shop .row .col-lg-3 .categories ul li a {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.online-shop .row .col-lg-3 .categories ul li a:hover {
  color: #ffe9e9;
  cursor: pointer;
}
.online-shop .row .col-lg-3 .categories ul li span {
  float: right;
}
.online-shop .row .col-lg-3 .categories ul .c-active {
  background: rgba(255, 255, 255, 0.26);
  color: white;
  border-radius: 5px;
}
@media only screen and (max-width: 650px) {
  .online-shop .row .col-lg-3 .categories {
    display: none !important;
  }
}
.online-shop .row .col-lg-9 .row {
  display: flex;
  justify-content: center;
}
.online-shop .row .col-lg-9 .row .col-lg-3 {
  padding: 0;
  min-width: 280px;
  margin-right: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.online-shop .row .col-lg-9 .row .col-lg-3 img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  padding: 10px 0;
}
.online-shop .row .col-lg-9 .row .col-lg-3 p {
  padding: 15px 20px;
  color: lightcoral;
  font-weight: 500;
}
.online-shop .row .col-lg-9 .row .col-lg-3 p i {
  padding-right: 5px;
}
.online-shop .row .col-lg-9 .row .col-lg-3 p span {
  color: #999FAE;
}
.online-shop .row .col-lg-9 .row .col-lg-3 p a {
  float: right;
  color: lightcoral;
  text-decoration: none;
}
.online-shop .row .col-lg-9 .row .col-lg-3 .detail {
  padding: 0 20px 10px 20px;
}
.online-shop .row .col-lg-9 .row .col-lg-3 .detail h5 {
  color: #333333;
  font-size: 18px;
}
.online-shop .row .col-lg-9 .row .col-lg-3 .detail h6 {
  color: rgba(143, 85, 85, 0.7);
  font-size: 14px;
}
.online-shop .row .col-lg-9 .row .col-lg-3 .btn-sale {
  padding-right: 20px;
}
.online-shop .row .col-lg-9 .row .col-lg-3 .btn-sale a {
  background-color: lightcoral;
  color: white !important;
  border: 2px solid lightcoral;
  border-radius: 8px;
  padding: 5px 15px;
  text-transform: capitalize;
  font-weight: 484;
  font-size: 17px;
}
.online-shop .row .col-lg-9 .row .col-lg-3 .btn-sale a i {
  padding-right: 5px;
}
.online-shop .row .col-lg-9 .row .col-lg-3 .btn-sale a:hover {
  background-color: white;
  color: lightcoral !important;
}
.online-shop .row .col-lg-9 .row .col-lg-3 .btn-sale a:focus {
  box-shadow: none !important;
}
@media only screen and (max-width: 992px) {
  .online-shop .row .col-lg-9 .row .col-lg-3 {
    margin-right: 0 !important;
  }
}

.paginate {
  padding: 25px 0 20px 0;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .paginate {
    text-align: center;
  }
}
.paginate ul {
  padding-left: 0;
}
.paginate ul li {
  list-style: none;
  display: inline-block;
}
.paginate ul li a {
  border: 1px solid rgba(52, 59, 92, 0.2);
  text-align: center;
  padding: 10px 15px;
  border-radius: 6px;
  text-decoration: none;
  color: lightcoral;
  font-weight: 500;
}
.paginate ul li .left, .paginate ul li .right {
  color: rgba(52, 59, 92, 0.2) !important;
}
.paginate ul li .p-active {
  background-color: lightcoral;
  color: white !important;
  border-color: lightcoral;
}

.hide {
  display: none !important;
}

.product-item {
  margin: 20px 0;
  padding: 30px 0;
}
.product-item .row {
  padding: 10px;
  border: 1px solid rgb(173, 173, 173);
  box-shadow: 2px 2px 8px lightgray;
}
@media only screen and (max-width: 768px) {
  .product-item .row {
    border: none !important;
  }
}
.product-item .row .col-md-6 .product-image {
  min-height: 300px;
  min-width: 300px;
  max-width: 400px;
}
@media only screen and (max-width: 768px) {
  .product-item .row .col-md-6 .product-image {
    min-height: auto !important;
    min-width: auto !important;
  }
}
.product-item .row .col-md-6 .category {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  border-left: 4px solid lightcoral;
  padding-left: 10px;
  margin-bottom: 5px !important;
}
.product-item .row .col-md-6 .product-name {
  font-size: 3rem !important;
  font-weight: 700;
  letter-spacing: 2px;
}
.product-item .row .col-md-6 .product-description {
  margin: 15px 0;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  color: rgb(117, 117, 117);
  line-height: 2rem;
  word-spacing: 4px;
}
.product-item .row .col-md-6 .get-in-bulk {
  background-color: lightcoral;
  color: white !important;
  border: 2px solid lightcoral;
  border-radius: 3px;
  padding: 5px 15px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 17px;
}
.product-item .row .col-md-6 .get-in-bulk:hover {
  background-color: white;
  color: lightcoral !important;
}
.product-item .row .col-md-6 .get-in-bulk:focus {
  box-shadow: none !important;
}

.login_screen {
  user-select: none;
}
.login_screen .row .col-10 {
  margin: 20px 0;
  background-color: white;
  height: 380px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  padding: 20px 10px;
  border: 1px solid #c5c4c4;
}
.login_screen .row .col-10 h1 {
  color: lightcoral;
  font-weight: bold;
  border-bottom: 2px solid lightcoral;
  border-radius: 80%;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}
.login_screen .row .col-10 p {
  text-align: center;
  font-size: 17px;
  padding: 10px 0;
  text-transform: capitalize;
  font-weight: 600;
}
.login_screen .row .col-10 .sign-up-portion p {
  font-weight: bold;
}
.login_screen .row .col-10 .sign-up-portion p a {
  text-decoration: none;
  color: lightcoral;
}
.login_screen .row .col-10 form .input-group {
  padding: 8px 0;
  margin: 5px 0;
}
.login_screen .row .col-10 form .input-group .input-group-text {
  background-color: white;
  transition: 0.4s;
  color: lightcoral;
  font-weight: bold;
}
.login_screen .row .col-10 form .input-group .input-group-text:hover {
  background-color: lightcoral;
  color: white;
}
.login_screen .row .col-10 form .input-group input {
  box-shadow: none !important;
  padding: 10px 5px;
  transition: 0.2s;
}
.login_screen .row .col-10 form .input-group input:focus {
  border-color: lightcoral !important;
}
.login_screen .row .col-10 form .submit_btn {
  text-align: right;
  padding: 5px 0;
}
.login_screen .row .col-10 form .submit_btn button {
  width: 120px;
  background-color: lightcoral !important;
  color: white;
  border: 2px solid lightcoral;
  padding: 6px 0;
  box-shadow: none !important;
  transition: 0.4s;
}
.login_screen .row .col-10 form .submit_btn button:hover {
  background-color: white !important;
  color: lightcoral !important;
}

.db-tables {
  margin: 15px 0;
  padding: 10px 0;
}
.db-tables .row .col-md-3 {
  border: 1px solid rgb(173, 173, 173);
  box-shadow: 1px 1px 4px rgb(173, 173, 173);
  padding: 10px;
  margin: 10px 20px;
  transition: 0.4s ease-in-out;
}
.db-tables .row .col-md-3 a {
  transition: 0.3s ease-in-out;
}
.db-tables .row .col-md-3 a:hover {
  color: lightcoral;
}
.db-tables .row .col-md-3 .whole-column .image-portion {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(173, 173, 173);
}
.db-tables .row .col-md-3 .whole-column .details-portion {
  margin: 10px 0;
}
.db-tables .row .col-md-3 .whole-column .details-portion .heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}
@media only screen and (min-width: 768px) {
  .db-tables .row .col-md-3:hover {
    transform: translateX(-30px);
  }
}

.basic-info {
  margin: 15px 0;
  padding: 10px 0;
}
.basic-info .row .col-md-8 form .form-text {
  padding: 5px 0;
}
.basic-info .row .col-md-8 form label {
  font-size: 14px;
  font-weight: 500;
}
.basic-info .row .col-md-8 form input:focus,
.basic-info .row .col-md-8 form select:focus,
.basic-info .row .col-md-8 form textarea:focus {
  border-color: lightcoral !important;
  box-shadow: 0 0 0 0.25rem rgba(240, 128, 128, 0.1) !important;
}
.basic-info .row .col-md-8 form input[type=checkbox] {
  border-color: lightcoral;
}
.basic-info .row .col-md-8 form input[type=checkbox]:checked {
  box-shadow: 0 0 0 0.25rem rgba(240, 128, 128, 0.1) !important;
  background-color: lightcoral;
  color: white;
}
.basic-info .row .col-md-8 form .gender-section {
  padding: 10px 0;
}
.basic-info .row .col-md-8 form .gender-section .row .col-2 {
  margin-right: 5px;
}
.basic-info .row .col-md-8 form .gender-section .row .col-2 .btn {
  box-shadow: none !important;
  width: 80px;
}
@media only screen and (max-width: 576px) {
  .basic-info .row .col-md-8 form .gender-section .row .col-2 {
    margin-right: 25px !important;
  }
}
.basic-info .row .col-md-8 form .submit-btn {
  padding: 10px 0;
  margin: 5px 0;
}
.basic-info .row .col-md-8 form .submit-btn button {
  width: 100%;
  color: white;
  background-color: lightcoral !important;
  border: 2px solid lightcoral;
  transition: 0.4s;
  box-shadow: none !important;
}
.basic-info .row .col-md-8 form .submit-btn button:hover {
  background-color: white !important;
  color: lightcoral;
}

.list-items {
  margin: 15px 0;
  padding: 10px 0;
}
.list-items .add-item-btn {
  text-align: right;
  margin: 10px 0;
}
.list-items .add-item-btn a {
  color: white;
  background-color: lightcoral !important;
  border: 2px solid lightcoral;
  transition: 0.4s;
  box-shadow: none !important;
}
.list-items .add-item-btn a:hover {
  background-color: white !important;
  color: lightcoral;
}
.list-items table td, .list-items table th {
  padding: 12px !important;
}
.list-items table td .delete-btn, .list-items table th .delete-btn {
  color: white;
  padding: 5px 10px;
  background-color: rgb(179, 15, 15) !important;
  border: 2px solid rgb(179, 15, 15);
  transition: 0.4s;
  border-radius: 4px;
  box-shadow: none !important;
}
.list-items table td .delete-btn:hover, .list-items table th .delete-btn:hover {
  background-color: white !important;
  color: rgb(179, 15, 15);
}

/*# sourceMappingURL=style.css.map */
